<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
</head>

<body>
    <h2>Clubs</h2><a href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif%}
    <ul>
        {% for club in clubs %}
        <li>
            <span>{{club['name']}}</span><br />
            <span></span>Email: {{club['email']}} </span></br>
            <span>Number of Points: {{club['points']}} </span>
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}

</body>

</html>